<%= for post <- @posts do %>
  <h1 class="title"><%= link post.title, to: post_path(@conn, :show, post) %></h1>
  <p class="subtitle is-6">By <%= link post.user.username, to: author_posts_path(@conn, :index, post.user) %></p>
  <div class="content">
    <%= post_body(post) %>
  </div>
  <%= for tag <- post.tags do %>
    <%= link tag.name, to: tag_posts_path(@conn, :index, tag), class: "tag" %>
  <% end %>
  <hr>
<% end %>
