<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title_for(@conn) %></title>
    <meta name="description" content="<%= description_for(@conn) %>">
    <%= og_meta_tags(@conn) %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body itemscope itemtype="http://schema.org/Blog">
    <section class="hero is-primary">
      <div class="hero-head">
        <div class="container">
          <nav class="nav">
            <div class="nav-left">
              <%= link to: post_path(@conn, :index), class: "nav-item is-brand" do %>
                <h1 class="title" itemprop="name"><%= title %></h1>
              <% end %>
              <meta itemprop="description" content="<%= description %>">
            </div>

            <span id="nav-toggle" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>

            <div id="nav-menu" class="nav-right nav-menu">
              <%= for page <- pages do %>
                <%= page_link @conn, page %>
              <% end %>
              <%= signed_in(@conn) do %>
                <%= write_link(@conn) %>
                <%= link "Logout", to: session_path(@conn, :delete), form: [class: "nav-item has-text-left"], method: :delete %>
              <% end %>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <div>
      <%= if get_flash(@conn, :info) do %>
        <%= notification "is-info" do %>
          <%= get_flash(@conn, :info) %>
        <% end %>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <%= notification "is-danger" do %>
          <%= get_flash(@conn, :error) %>
        <% end %>
      <% end %>
    </div>

    <main class="section">
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
